<section class="footer">
    <a class="logo_footer">
        <img class="logo" src="images/logo.png">
    </a>
    <div class="nav_list">
        <ul>
            <li class="nav_list_item">
                <a>.FAQ</a>
            </li>
            <li class="nav_list_item">
                <a>.contact</a>
            </li>
        </ul>
    </div>
</section>