<section class="wall">
    
    <% if (locals.postsWall.length >= 1){%>
        <h2 class="wall_header">Your blog-posts</h2>
    <% postsWall.reverse().forEach(item => { %>
        <div class="blogpost">
            <p class="blogpost_date"><%= item.date %></p>
            <h3 class="blogpost_header"><%= item.postHeader %></h3>
            <p class="blogpost_text"><%= item.postText %></p>
            <form action="/submit" method="POST">
                <input type="submit" formaction="/deletePost" value="ðŸ—‘ï¸">
            </form>
            </div>
    <%}); %>
        <% } else { %>
        <h2 class="wall_header">Nothing posted yet..</h2>
        <%} %>


</section>