body{
    width: 90%;
    margin: 0px auto;
    background-color: #EBEBDF;
    color: #EB631B;
    position: relative;
    padding-bottom: 100px;
    
}

img{
    line-height: 0;
}

h1, h2{
    font-family: 'Imbue', serif;
    font-weight: 300;
    text-align: center;
}

.nav{
    display: flex;
    position: sticky;
    z-index: 10;
    top: 0px;
    padding: 10px 0;
    margin-bottom: 50px;

}

.nav_list{
    display: flex;
    padding: 0;
    margin: 0 15px;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    list-style: none;
    font-family: 'Crimson Text', serif;
    font-size: 24px;
}

.nav_list_item a{
    text-decoration: none;
    color: #EB631B;
}

.logo_nav{
    margin-right: auto;
}

h1{
    font-size: 96px;
    margin: 15px auto 5px;
}

.home{
    width: 70%;
    margin: 0 auto;
    /* background-image: url("/images/texture.png");
    background-repeat: repeat;
    background-clip: border-box; */
   
    
}

.home-overlay{
    background-image: url("/images/texture.png");
    background-size: contain;
    mix-blend-mode: multiply;
    background-clip: border-box;
    padding: 30px 50px ;
    padding-bottom: 70px;
}

.gallery_list{
    display: flex;
    width: 90%;
    margin: 50px auto;
    list-style: none;
    justify-content: space-around;
    margin-bottom: 100px;
}
.gallery_item{
    margin: 0 10px;
}

.gallery_item img{
    overlay: multiply;
    /* mix-blend-mode: multiply */
}

.home_intro{
    font-family: "Dawning of a New Day";
    font-size: 3rem;
    line-height: 100%;
    color: #6A687A;
    margin: 50px auto;
    width: 70%;
    text-align: center;
}

.wall{
    width: 80%;
    margin: 50px auto;
}

.wall_header{
    font-size: 4.6rem;
    margin-bottom: 20px;
}

.blogpost{
    width: 60%;
    color:black;
    font-family: "Crimson text";
}

.blogpost:nth-child(2n - 1){
    margin-left: auto;
    text-align: right;
}

.blogpost:nth-child(2n){
    margin-right: auto;
}

.blogpost_date{
    padding: 0;
    margin: 0;
}
.blogpost_header{
    padding: 0;
    margin: 0;
}

.blogpost_text{
    margin: 0;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #EB631B ;
    padding-top: 10px;
    margin-top: auto;
    margin-bottom: 0;
}

.logo_footer img{
    width: 100px;
}
.footer .nav_list{
    display: flex;
    justify-content: space-evenly;
}

.footer .nav_list_item{
    font-family: 'Imbue';
    
    list-style: none;
}
.footer .nav_list_item a{
    color: black;
    text-decoration: none;
}

.post_creation{
    width: 90%;
    margin: 50px auto;
}

.form_container{
    
    border: 1px solid #EB631B;
}

form{
   width: 60%;
    margin: 50px auto; 
}


input[type="text"]{
    width: 100%;
    border: none;
    height: 2rem;
    text-align:left;
    vertical-align: bottom;
    /* border-radius: 5% 5%; */
    line-height: 1rem;
    font-size: 1.5rem;
    color: black;
    font-family: 'Crimson text';
    padding: 0.5rem;
    margin-bottom: 30px;
}

textarea{
    width: 100%;
    border: none;
    text-align:left;
    vertical-align: bottom;
    line-height: 1.5rem;
    font-size: 1.5rem;
    color: black;
    font-family: 'Crimson text';
    padding: 0.5rem;
    margin-bottom: 30px;

}
input[type="text"]::placeholder, textarea::placeholder{
    font-size: 1.2rem;
    color:#b1b1b6;
}

input[id="textPost"]{
    height: 10rem;

}

input[id="post_submit"]{
    margin: 0 auto;
    background-color: #EB631B;
    color: white;
    border: none;
    padding: 0 30px;
    font-family: 'Imbue', serif;
    font-size: 1.75rem;
    border-radius: 20px;
}
textarea:focus, input:focus{
    outline: none;
}

label{
    font-size: 1.5rem;
    font-family: 'Crimson text';
}